#ph-baslik:after {
  content: "Online Ön Tanı";
}

#ph-altbaslik:after {
  content: "Sağlığınız bizim için önemli.";
}

#ph-menu:after {
  content: "Menü";
}

#ph-icerik1:after {
  content: "Kendinizde gördüğünüz belirtileri girin ve hastalığınızın ne olabileceğini öğrenin.";
}

#ph-icerik2:after {
  content: "Bununla birlikte hangi polikliniğe gitmeniz gerektiğini de.";
}